@font-face { font-family:tech ; src: url('fonts/BPG Tech 08 Caps.ttf'); }
@font-face { font-family:glaho ; src: url('fonts/BPG_Glaho.ttf'); }
@font-face { font-family:bpgtahoma ; src: url('fonts/bpg_tahoma_glaho.ttf'); }



*  {
  margin: 0;
}
ul {
  margin: 0!important;
  padding: 0!important;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0!important;
}
a {
  text-decoration: none!important;
}
a:hover {
  text-decoration: none!important;
}
nav a:hover {
  color: #e54b4b!important;
  transition: 0.5s;
}
#main_container {
  width: 100%;
  height: 80vh;
  background-image: radial-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)) ,url(images/mainbg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #e54b4b;
}
::-webkit-scrollbar {
  width: 5px;
}
header {
  display: flex!important;
  justify-content: space-between;
  padding: 40px 100px;
}
.logo_area img {
  height: 23px;
}
.main_nav {
  display: flex;
  /*align-items: center;*/
  justify-content: center;
}
.main_nav img {
  height: 18px;
}
nav {
  display: flex;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
nav ul {
  justify-content: center;
  display: flex;
  list-style: none;
}
nav ul li {
  list-style: none;
  font-size: 20px;
  margin: 0 15px;
  font-family: tech;
}
.product_filter {
  width: 1100px;
  height: 120px;
  background-color: white;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 30.08px 1.92px rgba(80,78,78,.15);
  display: flex;
  align-items: center;
  padding: 26px 35px;
  box-sizing: border-box;
}
.all_tours {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1215px;

}
.popular_tours {
  width: 100%;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.popular_tours h1  {
  text-align: center;
  color: #313131;
  font-family: glaho;
  font-size: 36px;
  padding: 55px 0 25px;
}
.main_tour {
  width: 375px;
  height: 470px;
  box-shadow: 0 4px 30.08px 1.92px rgba(80,78,78,.15);
  position: relative;
  margin: 15px;
}

.tour_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  height: 225px;
}
.tour_img img {
  object-fit: contain;
}
.tours_main {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tour_s_info {
  padding-bottom: 60px;
  height: 60px;
}
.tour_s_info p {
  color: #b5adad;
  font-size: 16px;
  font-family:bpgtahoma;
}
.tour_title h2 {
  font-size: 20px;
  color: #313131;
  text-align: center;
  padding-bottom: 10px;
  font-family: glaho;
}
.tour_b_info {
  background-color: #e54b4b;
  width: 100%;
  height: 58px;
  position: absolute;
  bottom: 0;
}
.lemons_offers {
  width: 100%;
  height: 650px;
  background-color: white;
  padding: 50px 0;
}
.lemons_offers h3 {
    text-align: center;
    color: #313131;
    font-family: glaho;
    font-size: 36px;
    padding: 55px 0 25px;
}
.blog_section h3 {
  text-align: center;
  color: white;
  font-size: 36px;
  padding-bottom: 25px;
  font-family: glaho;
}
.blog_section {
  width: 100%;
  background-image: radial-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)) ,url(images/blogphoto.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog_info {
  width: 375px;
  margin: 15px;
  position: relative;
}
.blog_title {
  width: 100%;
  background-color: #151414;
  height: 40px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.blog_title h1 {
  font-size:16px;
  font-family: glaho;
  color: white;
}


.news_box {
    display: flex;
    box-shadow: 3px 4px 7px 0px #0000001f;
    align-items: self-end;
    background-color: #fff;
}
.news_box .news_img_box {
    width: 50%;
    height: 380px;
}
.news_box .news_img_box a {
    display: block;
    height: 100%;
}
.news_box .news_info_box {
    width: 50%;
    padding: 20px 15px 15px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 380px;
}
.news_box .news_info_box .news_info_text {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.news_box .news_info_box .news_info_text h3 {
    color: #000;
    font-size: 18px;
    height: 80px;
    text-align: center;
    overflow-y: scroll;
    font-family: glaho;
}
.news_box .news_img_box a img {
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: all .4s;
  object-fit: cover;
}
.news_text_wrapper {
    height: 165px;
    overflow-y: hidden;
    margin-top: 13px;
    font-size: 11px;
    font-family: bpgtahoma;
}
.home_news_fluid .home_news_container .news_box .news_info_box .news_info_text p {
    color: #000;
    font-size: 13px;
    text-align: justify;
    word-break: break-all;
    padding-right: 5px;
    font-family: 'Conv_bpg_mrgvlovani_2009';
}
.news_box .news_info_box a {
    text-align: right;
    color: #000;
    display: block;
    font-family: bpgtahoma;
    font-size: 14px;
}














.all_blog {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1215px;
  height: 380px;
}
.blog_title:hover {
  height: 110px;
  transition: 0.5s;
}
.blog_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  height: 225px;
}

.blog_img img {
  object-fit: contain;
}

.tour_b_info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tour_b_info span {
  color: white;
  font-size: 16px;
  font-family: bpgtahoma;
  margin: 0 25px;
}
.main_offers {
  width: 1215px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.offer_item {
  width: 48%;
  background-color: transparent;
  display: flex;
  margin: 10px;
  height: 65px;
  padding: 0 10px;
  transition: 0.5s;
}

.offer_item:hover {
  box-shadow: 0 4px 30.08px 1.92px rgba(80,78,78,.15);
  transition: 0.5s;
}
.offer_item a span {
  color: #969191;
}
.offer_item h5:hover {
  color: #e54b4b;
  transition: 0.5s;
}
.offer_item img {
  width: 45px;
  height: 35px;
  object-fit: contain;
}
.offer_item a {
  display: flex;
  align-items: center;
  width: 100%;
}
.offer_item h5 {
  padding-left: 20px;
  color: #949090;
  transition: 0.5s;
  font-size: 15px;
}
.offer_item span {
  margin-left: auto;
}

#filter_search {
  height: 67px;
  width: 190px;
  background-color: #e54b4b;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#filter_search a {
  color: white;
  font-family: bpgtahoma;
  font-size: 17px;
}

.main_filter select {
  color: #353535;
  font-size: 14px;
  border:none;
  background-color: #faf7f7;
  padding: 20px 79px;
  font-family: bpgtahoma;
  margin: 0 10px;
  outline: none;
  box-shadow: 0px 3px 6px 0px rgba(24, 24, 24, 0.06);
}
.destination {
  position: relative;
}
.destination select:before {

}




.footer_fluid {
  background-color: #151414;
  padding-top: 50px;
}
.footer_fluid .copyright_box span {
    color: #fff;
    font-size: 14px;
    font-family:bpgtahoma ;
}
.footer_fluid .footer_container {
      max-width: 1376px;
    padding-top: 40px;
}
.footer_fluid .footer_container .footer_mail_box span {
    display: block;
    font-size: 16px;
    color: #fff;
    font-family:bpgtahoma ;
}
.footer_mail_box img {
  width: 300px;
}
.footer_send_meil {
    display: flex;
}
.footer_send_meil input {
    outline: none;
    background-color: transparent;
    border: 2px solid #fff;
    border-right: none;
    color: #fff;
    font-family:bpgtahoma ;
    margin: 0;
    width: 145px;
    padding: 4px 7px 0px;
}

.footer_send_meil button {
    background-position: 15px center;
}
.footer_send_meil button {
    background-color: transparent;
    border: none;
    outline: none;
    background-position: 30px center;
    background-image: url(../images/icons/send_btn.png);
    background-repeat: no-repeat;
    border: 2px solid #fff;
    border-left: none;
    width: 40px;
}
.footer_mail_box > a >img {
    width: 300px;
}
.footer_fluid .footer_container .footer_cnt_box {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.footer_fluid .footer_container .footer_cnt_box a:not(:last-child) {
    padding-right: 20px;
    position: relative;
}

.footer_fluid .footer_container .footer_cnt_box a {
    font-size: 17px;
    color: #fff;
    font-family:bpgtahoma ;
}

.footer_fluid .footer_container .footer_icons {
    height: 100%;
    display: flex;
    align-items: center;
    max-width: 270px;
    /* justify-content: space-between; */
    margin-left: auto;
}
.footer_fluid .footer_container .footer_icons a {
    padding-left: 10px;
}
.footer_fluid .footer_container .footer_bot_row {
    margin-top: 30px;
}
.footer_bot_row img {
  height: 22px;
  object-fit: contain;
}
.footer_fluid .footer_container .footer_address_box.footer_address_left {
    justify-content: flex-end;
}

.footer_fluid .footer_container .footer_cnt_box a:not(:last-child):after {
    content: "";
    position: absolute;
    top: 0;
    right: 8px;
    width: 1px;
    height: 100%;
    background-color: #fff;
}
.footer_fluid .footer_container .footer_address_box span:first-child {
    display: inline-block;
    border: 2px solid #fff;
    border-bottom: none;
    padding: 3px;
    height: 43px;
}
.footer_fluid .footer_container .footer_icons a img {
    width: 25px;
}
.footer_fluid .footer_container .footer_address_box span:last-child {
    color: #fff;
    font-size: 15px;
    padding-left: 10px;
    padding-top: 10px;
    font-family:bpgtahoma ;
}

.owl-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
}
 .owl-nav button.owl-prev {
    background-image: url(images/arrow_left.png)!important;
    margin-right: 10px;
}

.owl-nav button {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    outline: none;
    background-position: center!important;
    background-size: cover!important;
    transition: all .4s;
    opacity: .4;
}
.owl-nav button:hover {
  opacity: 1;
  transition: all .4s;
}
.owl-nav button.owl-next {
    background-image: url(images/arrow_right.png)!important;
}
.owl-nav button span {
    display: none;
}


.owl-carousel .owl-item img {
    /* width: auto;
    max-width: 400px;
    max-height: 245px; */
    margin: 0 auto;
}
.owl-carousel {
    max-width: 1215px;
    max-height: 250px;
    margin:0 auto;
}
